<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Prices Page</title>

    <!-- Bootstrap -->
    <link href="https://prices.datanab.net/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://prices.datanab.net/static/bootstrap-3.3.7-dist/css/offcanvas.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="https://prices.datanab.net/static/img/Dglove.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
            body{
        background-image:url('https://prices.datanab.net/static/img/striped_lens.png');
        }
            body, html, .container-fluid { 
        height: 100%;
        }
      @media (max-width: 480px) {
        .table > tbody > tr td {
        display: inline-block;
        width: 100%
        }
        .table > tbody > tr td input {
        width: 100%
        }
      }
      .open {
                display: block;
                }
                .closed {
                    display: none;
                }
                .item1 {
                    font-size: 15px;
                    text-decoration:none;
                    cursor: pointer;
                    color:black;
                    position:relative; right:18%;

                }
                .item2 {
                    list-style-type: none;
                    font-size:14px;
                }
                .item3 {
                    list-style-type: none;
                    display:inline;
                }
                .item4 {
                font-size: 15px;
                text-decoration:none;
                cursor: pointer;
                color:black;
                position:relative; right:12%;

                }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.datanab.net/">Data Nab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="glyphicon glyphicon-home" aria-hidden="true" href="https://www.datanab.net/">&thinsp;Home</a></li>
            <li><a class="glyphicon glyphicon-info-sign" aria-hidden="true" href="https://www.datanab.net/about">&thinsp;About</a></li>
            <li><a class="glyphicon glyphicon-user" aria-hidden="true" href="https://www.datanab.net/contact">&thinsp;Contact</a></li>
            <li class="dropdown active">
              <a class="glyphicon glyphicon-list-alt" aria-hidden="true" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&thinsp;Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://constants.datanab.net">Constants</a></li>
                <li><a href="https://conversions.datanab.net">Conversions</a></li>
                <li><a href="https://prices.datanab.net">Prices</a></li>
                <li><a href="https://efficiency.datanab.net">Efficiencies</a></li>
                <li role="separator" class="divider"></li>
                <!-- <li class="dropdown-header">Nav header</li> -->
                <li><a href="https://www.datanab.net/examples">Examples</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <li class="list-group-item disabled">Pages</li>
            <a href="https://constants.datanab.net/" class="list-group-item">Constants</a>
            <a href="https://conversions.datanab.net/" class="list-group-item">Conversions</a>
            <a href="https://prices.datanab.net/" class="list-group-item active">Prices</a>
            <a href="https://efficiency.datanab.net/" class="list-group-item">Efficiency</a>
          </div>
        </div><!--/.sidebar-offcanvas-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h1>Prices</h1></div>

          <!-- Table -->
      <table class="table">
    <tbody>
      <tr>
        <td><h4>Fuel Prices</h4>
          <ul class="list-unstyled">
          <li><a href="https://prices.datanab.net/us/fuel/gasoline">Gasoline (US avg.)</a></li>
          </ul>
        </td>
        <td><h4>Grocery Prices</h4>
          <ul class="open">
          <ol class="item3" id="item11"><a class="item4" onclick="toggle('item11');">Cereals (click to expand)</a></ol>
          <ul id="ul_item11" class="closed">
          <li class="item2" id="item11_1">
          <a href="https://prices.datanab.net/us/grocery/flour">Flour (US avg.)</a></li>
          <li class="item2" id="item11_2">
          <a href="https://prices.datanab.net/us/grocery/bread_white">White Bread (US avg.)</a></li>
          <li class="item2" id="item11_3">
          <a href="https://prices.datanab.net/us/grocery/bread_whole_wheat">Wheat Bread (US avg.)</a></li>
          <li class="item2" id="item11_4">
          <a href="https://prices.datanab.net/us/grocery/rice_white_long">White Rice (US avg.)</a></li>
          <li class="item2" id="item11_5">
          <a href="https://prices.datanab.net/us/grocery/spaghetti">Spaghetti (US avg.)</a></li>
          <li class="item2" id="item11_6">
          <a href="https://prices.datanab.net/us/grocery/cookies_chocolate_chip">Chocolate Chip Cookie (US avg.)</a></li>
          </ul>
          <br>
          <ol class="item3" id="item12"><a class="item4" onclick="toggle('item12');">Meats (click to expand)</a></ol>
          <ul id="ul_item12" class="closed">
          <li class="item2" id="item12_1">
          <a href="https://prices.datanab.net/us/grocery/bacon">Bacon (US avg.)</a></li>
          <li class="item2" id="item12_2">
          <a href="https://prices.datanab.net/us/grocery/beef_ground_chuck">Chuck Beef (US avg.)</a></li>
          <li class="item2" id="item12_3">
          <a href="https://prices.datanab.net/us/grocery/beef_ground_lean">Ground Beef - Lean(US avg.)</a></li>
          <li class="item2" id="item12_4">
          <a href="https://prices.datanab.net/us/grocery/beef_ground">Ground Beef (US avg.)</a></li>
          <li class="item2" id="item12_5">
          <a href="https://prices.datanab.net/us/grocery/bologna">Bologna (US avg.)</a></li>
          <li class="item2" id="item12_6">
          <a href="https://prices.datanab.net/us/grocery/chicken_boneless">Boneless Chicken (US avg.)</a></li>
          <li class="item2" id="item12_7">
          <a href="https://prices.datanab.net/us/grocery/chicken_breast">Chicken Breast (US avg.)</a></li>
          <li class="item2" id="item12_8">
          <a href="https://prices.datanab.net/us/grocery/chicken_legs">Chicken Legs (US avg.)</a></li>
          <li class="item2" id="item12_9">
          <a href="https://prices.datanab.net/us/grocery/chicken_whole">Whole Chicken (US avg.)</a></li>
          <li class="item2" id="item12_10">
          <a href="https://prices.datanab.net/us/grocery/chuck_roast">Chuck Roast (US avg.)</a></li>
          <li class="item2" id="item12_11">
          <a href="https://prices.datanab.net/us/grocery/ham">Ham (US avg.)</a></li>
          <li class="item2" id="item12_12">
          <a href="https://prices.datanab.net/us/grocery/pork_chop_boneless">Boneless Pork Chop (US avg.)</a></li>
          <li class="item2" id="item12_13">
          <a href="https://prices.datanab.net/us/grocery/pork_chop_center_cut">Pork Chop - Center Cut (US avg.)</a></li>
          <li class="item2" id="item12_14">
          <a href="https://prices.datanab.net/us/grocery/round_roast">Round Roast (US avg.)</a></li>
          <li class="item2" id="item12_15">
          <a href="https://prices.datanab.net/us/grocery/steak_sirloin">Sirloin Steak (US avg.)</a></li>
          </ul>
        </ul>
        </td>
      </tr>

      <tr>
        <td><h4>Housing Prices</h4>
          <ul class="list-unstyled">
          <li><a href="https://prices.datanab.net/us/housing/housing">Housing (US 2011 avg.)</a> </li>
          </ul>
        </td>
        <td><h4>Goods Prices</h4>
          <ul class="list-unstyled">
          <li><a href="https://prices.datanab.net/us/goods/white_sugar">White Sugar (US avg.)</a> </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

            </div>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->

        
      </div><!--/row-->

      <hr>

       <footer>
          <nav>
              Copyright &copy; Josh Fernandes 2012
          </nav>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://prices.datanab.net/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="https://prices.datanab.net/static/bootstrap-3.3.7-dist/js/offcanvas.js"></script>

  </body>
</html>